:root {
    --image-width: 140px;
}

/* TO DO: Add opacity to background image? */
body {
    margin: 0;
    padding: 0;
}

.low-op-bg-image {
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    isolation: isolate;

    flex-direction: column;
    align-items: center;
    font-size: large;
}

.low-op-bg-image::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .8;
    background-image: url('images/WoodGrain.jpg');
    background-size: cover;
    background-position: center;
}



h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #eee;
    text-shadow: -2px 3px black;
}

#puzzle-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 10px solid rgb(5, 5, 5);
    box-shadow: -5px 5px 10px rgb(22, 22, 22), -10px 10px 10px rgb(41, 40, 40);
}

.puzzle-row {
    display: flex;
}

.cell {
    height: var(--image-width);
    width: var(--image-width);
    border: 1px solid black;
}