body {
    background-image: url('images/WoodGrain.jpg');
}

h1 {
    text-align: center; font-family: 'Times New Roman', Times, serif; 
}

:root {
    --image-width: 140px;
}

#puzzle-wrapper {
    display: flex;
    flex-direction: column;
}

.puzzle-row {
    display: flex;
}

.cell {
    height: var(--image-width);
    width: var(--image-width);
    border: 1px solid black;
}
